h3 {
    font-family: 'Microsoft Sans Serif', Microsoft, sans-serif;
    font-size: 24px;
}

div.container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1300px;
    height: 790px;
    outline: none;
}

div.container2 {
    margin: 5.5px;
    width: 48%;
    height: 90%;
    display: inline-block;
    outline: none;
}

div.container3 {
    height: 680px;
    width: 100%;
    text-align: center;
    border-radius: 15px;
    border: 1px solid black;
    outline: none;
}

button.big {
    background-color: rgba(255, 255, 255, 0.3);
    margin: 15px;
    border-radius: 15px;
    width: 402.9px;
    height: 172px;
    font-family: 'Microsoft Sans Serif', Microsoft, sans-serif;
    font-size: 32px;
}

button.big:hover {
    cursor: url("../app/images/click2.png"), pointer;
}

button.add {
    margin: 5px;
    width: 200px;
    height: 37.6px;
    border-radius: 11px;
    color: white;
    background-color: #fc5c03;
    font-family: 'Microsoft Sans Serif', Microsoft, sans-serif;
    font-size: 21.3px;
}

button.add:hover {
    cursor: url("../app/images/click2.png"), pointer;
}

div.desktop {
    display: inline;
    width: 100%;
}

div.mobile {
    display: none;
}

@media only screen and (max-width: 1024px) {
    div.desktop {
        display: none;
    }
    div.mobile {
        display: inline;
        width: 100%;
    }
}