<h1 class="center"> Вход/Регистрация (для демо - a@a.a 12345678 )</h1>


<div class="container">
    <ul class="tabrow">
        <li [ngClass]="{'selected': !newUser, 'first': true}" (click)="newUser=false; resetData();"> Вход </li>
        <li [ngClass]="{'selected': newUser, 'next': true}" (click)="newUser=true; resetData();"> Регистрация </li>
    </ul>
    <div class="content">
        <br>
        <form *ngIf="!newUser" #f="ngForm" (ngSubmit)="login()">
            <div class="tab2">
                <p>
                    <label class="tab2"> Адрес электронной почты : </label><br>
                    <input type="email" class="field tab2" [(ngModel)]="data.username" required pattern="[!-~]{1,}@[!-~]{1,}\.[!-~]{1,}" name="username" #username="ngModel">
                    <span [ngClass]="{'error': true, 'hiden': noRegisteredError }"> Неверный логин или пароль </span>

                </p>
                <p>
                    <label class="tab2"> Пароль :</label><br>
                    <input type="password" class="field tab2" [(ngModel)]="data.password" required pattern="[!-~]{8,}" name="password" #password="ngModel">

                </p>
                <p>
                    <span class="tab2"><input type="checkbox" [(ngModel)]="rememberMe" name="rememberMe"> Запомнить</span>
                    <br><br>
                </p>
            </div>
            <p>
                <button type="submit" class="login tab2" [disabled]="!f.valid">Войти</button>
            </p>

        </form>
        <form *ngIf="newUser" #f="ngForm" (ngSubmit)="register()">
            <div class="tab2">
                <p>
                    <label class="tab2"> Адрес электронной почты : </label><br>
                    <input type="emai" class="field tab2" [(ngModel)]="data.username" required pattern="[!-~]{1,}@[!-~]{1,}\.[!-~]{1,}" name="username" #username="ngModel">
                    <span [ngClass]="{'error': true, 'hiden': username.valid || username.pristine }"> В адресе должен быть знак '@' и '.' </span>
                    <span [ngClass]=" { 'error': true, 'hiden': noExistingError  } "> Это адрес почты уже существует </span>
                </p>
                <p>
                    <label class="tab2"> Пароль : </label><br>
                    <input type="password" class="field tab2" [(ngModel)]="data.password" required onchange="form.repeat.pattern = this.value;" pattern="[!-~]{8,}" name="password" #password="ngModel">
                    <span [ngClass]="{'error': true, 'hiden': password.valid || password.pristine }"> Минимум 8 символов: английские буквы, цифры, символы  </span>

                </p>
                <p>
                    <label class="tab2"> Потвердить пароль : </label><br>
                    <input type="password" class="field tab2" [(ngModel)]="repeat" pattern="[!-~]{8,}" required name="repeat" onchange="noRepeatError=true;" #rec="ngModel">
                    <span [ngClass]="{'error': true, 'hiden': noRepeatError }"> Вторично введенный пароль не соответствует изначальному  </span>

                    <p>
                        <span class="tab2"><input type="checkbox" name="agree" required [ngModel]="isAccepted" #agree="ngModel"> я соглашаюсь с правилами пользования сайта</span>
                        <br><br>
                    </p>

            </div>
            <p>
                <button type="button" class="white tab2" onclick="history.back()"> Отменить </button>
                <button type="submit" class="login right" [disabled]="!f.valid"> Потвердить</button>
            </p>

        </form>

    </div>
</div>