<h1 class="center"> Вход/Регистрация (для демо - a@a.a aaaaaaaa )</h1>
<h1 style="color: red"> {{errorMessage}} </h1>



<div class="container">
    <ul class="tabrow">
        <li [ngClass]="{'selected': !newUser, 'first': true}" (click)="newUser=false;"> Вход </li>
        <li [ngClass]="{'selected': newUser, 'next': true}" (click)="newUser=true;"> Регистрация </li>
    </ul>
    <div class="content">
        <br>
        <form *ngIf="!newUser" #f="ngForm" (ngSubmit)="login()">
            <div class="tab2">
                <p>
                    <label> Адрес электронной почты : </label><br>
                    <input type="text" class="field" [(ngModel)]="data.username" required minlength="5" name="username">

                    <span [ngClass]="{'error': true, 'hiden': noEmailError}"> Это адрес не зарегестрирован </span>
                </p>
                <p>
                    <label> Пароль :</label><br>
                    <input type="password" class="field" [(ngModel)]="data.password" required minlength="8" name="password">
                    <span [ngClass]="{'error': true, 'hiden': noPasswordError}"> Не верный пароль </span>
                </p>
                <p>
                    <input type="checkbox" [(ngModel)]="rememberMe" name="rememberMe"> Запомнить
                    <br><br>
                </p>
            </div>
            <p>
                <button type="submit" class="login" [disabled]="!f.valid">Войти</button>
            </p>
        </form>
        <form *ngIf="newUser" #f="ngForm" (ngSubmit)="register()">
            <div class="tab2">
                <p>
                    <label> Адрес электронной почты : </label><br>
                    <input type="text" class="field" [(ngModel)]="data.username" required minlength="5" name="username">
                    <span [ngClass]="{'error': true, 'hiden': noEmailError}"> Это адрес почты уже существует </span>
                </p>
                <p>
                    <label> Пароль : </label><br>
                    <input type="password" class="field" [(ngModel)]="data.password" required minlength="8" name="password">
                    <span [ngClass]="{'error': true, 'hiden': noPasswordError}"> Минимум 8 символов: английские буквы, цифры, символы </span>
                </p>
                <p>
                    <label> Потвердить пароль : </label><br>
                    <input type="password" class="field" [(ngModel)]="passwordRecovery" required minlength="8" name="passwordRecovery">
                    <span [ngClass]="{'error': true, 'hiden': noRepeatError}"> Вторично введенный паролоь не соответствует изначальному </span>
                </p>
                <p>
                    <input type="checkbox" name="agree"> я соглашаюсь с правилами пользования сайта
                    <br><br>
                </p>
            </div>
            <p>
                <button type="button" class="login" onclick="history.back()"> Отменить </button>
                <button type="submit" class="login right" [disabled]="!f.valid"> Потвердить</button>
            </p>
        </form>

    </div>
</div>