button.lang {
    position: relative;
    left: 15px;
    margin: 4px;
    width: 68.2px;
    height: 37.6px;
    border-radius: 8.2px;
    color: white;
    background-color: #fc5c03;
    font-family: 'Microsoft Sans Serif', Microsoft, sans-serif;
    font-size: 18.4px;
}

button.right {
    display: inline-block;
    margin: 3px;
    width: 144.7px;
    height: 60.7px;
    border-radius: 15px;
    color: white;
    background-color: #fc5c03;
    font-family: 'Microsoft Sans Serif', Microsoft, sans-serif;
    font-size: 18.25px;
}

button#help {
    margin: 3px;
    width: 102.7px;
    height: 60.7px;
    border-radius: 15px;
    color: white;
    background-color: #fc5c03;
    font-family: 'Microsoft Sans Serif', Microsoft, sans-serif;
    font-size: 18.25px;
}

button.small {
    margin: 3px;
    width: 102.7px;
    height: 28px;
    border-radius: 8px;
    color: white;
    background-color: #fc5c03;
    font-family: 'Microsoft Sans Serif', Microsoft, sans-serif;
    font-size: 18.25px;
}

button:hover,
button#help:hover {
    background-color: #f9874e;
}

div.navBar {
    position: relative;
    left: 70%;
    top: 25%;
    width: 25%;
    outline: none;
}