button {
    margin-left: 30px;
    margin-right: 30px;
    width: 144.7px;
    height: 37.6px;
    border-radius: 8.2px;
    color: black;
    background-color: white;
    font-family: 'Microsoft Sans Serif', Microsoft, sans-serif;
    font-size: 16px;
    border: 1px solid #f9874e;
}

button:hover {
    background-color: #f9874e;
}

button:disabled {
    background-color: gray;
}

.container {
    position: relative;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    outline: none;
    width: 600px;
    height: 320px;
    background-color: white;
    border: 1px solid black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    font-family: 'Microsoft Sans Serif', Microsoft, sans-serif;
    font-size: 16px;
}

.field {
    width: 300px;
    height: 22px;
    border-radius: 3px;
    border: solid black 1px;
}

.right {
    float: right;
}

.error {
    position: relative;
    left: 40px;
    background-color: #f9874e;
    font-size: 18px;
    width: 300px;
    height: 22px;
    color: white;
    padding: 4px;
}