img {
    margin: 40px;
}

h3 {
    text-decoration: underline #f9874e;
    font-family: 'Microsoft Sans Serif', Microsoft, sans-serif;
    font-size: 18px;
}

h4 {
    color: #fc5c03;
    font-family: 'Microsoft Sans Serif', Microsoft, sans-serif;
    font-size: 20px;
}

.container {
    position: relative;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    width: 800px;
    height: 650px;
    outline: none;
}

.content {
    width: 800px;
    height: 520px;
    background-color: white;
    border: 1px solid black;
    z-index: 0;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    font-family: 'Microsoft Sans Serif', Microsoft, sans-serif;
    font-size: 16px;
}

.remove {
    text-align: center;
    padding: 20px;
    font-family: 'Microsoft Sans Serif', Microsoft, sans-serif;
    font-size: 18px;
}

button.submit {
    margin-left: 30px;
    margin-right: 30px;
    width: 144.7px;
    height: 37.6px;
    border-radius: 8.2px;
    color: white;
    background-color: #f9874e;
    font-family: 'Microsoft Sans Serif', Microsoft, sans-serif;
    font-size: 16px;
}

button.white {
    margin-left: 30px;
    margin-right: 30px;
    width: 144.7px;
    height: 37.6px;
    border-radius: 8.2px;
    color: black;
    background-color: white;
    font-family: 'Microsoft Sans Serif', Microsoft, sans-serif;
    font-size: 16px;
    border: 1px solid #f9874e;
}

button:hover {
    cursor: url("../app/images/click2.png"), pointer;
}

.field {
    width: 300px;
    height: 22px;
    border-radius: 3px;
    border: solid black 1px;
}

.right {
    float: right;
}

.first {
    z-index: 5;
}

.sec {
    z-index: 4;
}

.third {
    z-index: 3;
}

.fortht {
    z-index: 2;
}


/*========= rounded tabs =============*/

.tabrow {
    width: 798px;
    list-style: none;
    padding-left: 4px;
    line-height: 64px;
    height: 64px;
    overflow: hidden;
    font-size: 22px;
    font-family: 'Microsoft Sans Serif', Microsoft, sans-serif;
    position: relative;
    margin-bottom: -1px;
}

.tabrow li {
    border: 1px solid black;
    background: white;
    display: inline-block;
    position: relative;
    left: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    margin: 0 -4px;
    padding: 0 10px;
}

.tabrow li.selected {
    background: white;
    color: black;
    text-decoration: underline #f9874e;
    z-index: 20;
    border-bottom: 1px solid white;
}

.tabrow:before {
    position: absolute;
    content: " ";
    width: 97%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid black;
    z-index: 10;
}

.next:before,
.next:after,
.first:after {
    border: 1px solid black;
    position: absolute;
    bottom: 0px;
    width: 20px;
    height: 15px;
    content: " ";
}

.next:before {
    left: -21px;
    border-bottom-right-radius: 20px;
    border-width: 0 1px 1px 0;
    box-shadow: 5px 5px 0 5px white;
}

.next:after,
.first:after {
    right: -21px;
    border-bottom-left-radius: 20px;
    border-width: 0 0 1px 1px;
    box-shadow: -5px 5px 0 5px white;
}

.next {
    border-left: 1px solid black;
    margin: 0 0;
}