button {
    border-radius: 8.2px;
    color: white;
    background-color: #fc5c03;
}

table.listOfMessages {
    width: 100%;
    padding: 4rem;
}

tr.listOfMessages:nth-child(even) {
    background-color: #fda97c;
}

tr.listOfMessages:nth-child(odd) {
    background-color: #f8c0a1;
}

tr.listOfMessages:hover {
    background-color:#ffc65c;
}

th.listOfMessages {
    background-color: white;
    color: white;
}