body {
    background: url("background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0px;
}

nav {
    background: url("logo.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0px;
}

button {
    outline: none;
}

img {
    outline: none;
}

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

img#title {
    width: 100%;
    opacity: 0.52
}

div.user {
    box-shadow: 0.3rem 0.3rem 0.3rem lightsteelblue;
}

.center {
    text-align: center;
}

.tab {
    position: absolute;
    left: 9rem;
}

.tab2 {
    position: relative;
    left: 7rem;
}


/* move to other css ? */

table.main {
    width: 60%;
    padding: 4rem;
    position: relative;
    left: 15%;
}

button.main {
    background-color: rgba(255, 255, 255, 0.3);
    margin: 2rem;
    border-radius: 2rem;
    width: 15rem;
    height: 8rem;
    font-family: 'Microsoft Sans Serif', Microsoft, sans-serif;
    font-size: 150%;
}

button.main:hover {
    background-color: rgba(255, 255, 255, 0.7);
}