h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

h2 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: lightsteelblue;
    border-radius: 0.3rem;
}

button.leng {
    margin: 1%;
    width: 1rem;
    height: 1rem;
}

button.right {
    float: right;
    margin: 0.5rem;
    width: 5rem;
    height: 2rem;
}

button.main {
    margin: 2rem;
    border-radius: 0.3rem;
    width: 10rem;
    height: 10rem;
}

table {
    width: 60%;
    padding: 4rem;
}

div.user {
    box-shadow: 0.3rem 0.3rem 0.3rem lightsteelblue;
}

div.navBar {
    min-height: 3rem;
    box-shadow: 0.3rem 0.3rem 0.3rem lightsteelblue;
}

.center {
    text-align: center;
}

.tab {
    position: absolute;
    left: 8rem;
}

.tab2 {
    position: relative;
    left: 7rem;
}

table.show {
    border: 1px solid white;
    width: 100%;
}

tr.show:nth-child(even) {
    background-color: lightblue;
}

tr.show:nth-child(odd) {
    background-color: lightsteelblue
}

tr.show:hover {
    background-color: lightgreen;
}

th.show {
    background-color: lightskyblue;
    color: white;
}

p {
    border: 1px solid gray;
}